@using HealthcareApp.Services.ViewModels;
@model PatientViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-5">Details</h1>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">First name:</th>
      <td>@Model.FirstName</td>
    </tr>
    <tr>
      <th scope="row">Last name:</th>
      <td>@Model.LastName</td>
    </tr>
    <tr>
        <th scope="row">Age:</th>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <th scope="row">Phone number:</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th scope="row">Gender:</th>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <th scope="row">Address:</th>
        <td>@Model.Address</td>
    </tr>
   </tbody>
</table>

<a asp-action="Index" type="button" class="btn btn-secondary">Back to List</a>