@using HealthcareApp.Services.ViewModels
@model List<PatientViewModel>
@{
    ViewData["Title"] = "List patients";
}

<div class="mt-5 mb-2">
    <a asp-action="Create">Create new</a>
</div>

<form asp-controller="Patient" asp-action="Index" method="get">
    <p>
        First name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Age
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var patient in Model)
    {

            <tr> 
                <td>
                @patient.FirstName @patient.LastName
                </td>
                <td>
                @patient.Age
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@patient.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@patient.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@patient.Id">Delete</a>
                </td>
            </tr>
    }
</table>

